/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Sass utilities */
/*Mixins*/
/* TRAVEL SECTIONS */
/* Video */
/* block, none */
/* none, fixed, scroll*/
/* line 24, ../sass/helpers/_variables.scss */
.travel-head {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Waitfor */
/* block, none */
/* none, fixed, scroll*/
/* Result */
/* block, none */
/* none, fixed, scroll*/
/* line 42, ../sass/helpers/_variables.scss */
.travel-result {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Firstinvite */
/* block, none */
/* none, fixed, scroll*/
/* line 53, ../sass/helpers/_variables.scss */
.travel-firstinvite {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Secondinvite */
/* block, none */
/* none, fixed, scroll*/
/* line 64, ../sass/helpers/_variables.scss */
.travel-secondinvite {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Base stuff */
/* Reset */
/* line 5, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

/* line 9, ../sass/base/_base.scss */
body {
  font-family: "Ubuntu", sans-serif;
}

/* line 12, ../sass/base/_base.scss */
h1, h2, h3, h4, h5 {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

/* line 17, ../sass/base/_base.scss */
h1 {
  font-size: 33px;
  color: #000000;
}

/* line 21, ../sass/base/_base.scss */
h2.title {
  font-size: 28px;
  color: #040000;
  letter-spacing: 5px;
}
/* line 25, ../sass/base/_base.scss */
h2.title span {
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #838383;
  margin-bottom: 8px;
}

/* line 34, ../sass/base/_base.scss */
h4 {
  font-size: 20px;
}

/* line 37, ../sass/base/_base.scss */
h5 {
  font-size: 18px;
}

/* line 40, ../sass/base/_base.scss */
a {
  color: #ffffff;
  text-decoration: none;
}
/* line 43, ../sass/base/_base.scss */
a:hover {
  color: #00ff66;
}

/* line 47, ../sass/base/_base.scss */
.section {
  min-width: 960px;
  overflow: hidden;
}

/* line 51, ../sass/base/_base.scss */
.container {
  width: 960px;
  margin: auto;
}

/* line 56, ../sass/base/_base.scss */
.btn-more {
  display: inline-block;
  border: 3px solid #ffffff;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}

/* line 68, ../sass/base/_base.scss */
.btn-transparent {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: #00ff66;
  text-transform: uppercase;
  border: 3px solid #00ff66;
  padding: 5px;
  line-height: 1.3;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 79, ../sass/base/_base.scss */
.btn-transparent:hover {
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.7);
}

/* line 85, ../sass/base/_base.scss */
.btn-green {
  display: inline-block;
  background: #00ff66;
  font-size: 16px;
  font-weight: 600;
  color: #006b2b;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 35px;
  border-bottom: 5px solid #1c7965;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 97, ../sass/base/_base.scss */
.btn-green:hover {
  color: #006b2b;
  -webkit-box-shadow: inset 0 0 13px 3px #ffffff;
  -moz-box-shadow: inset 0 0 13px 3px #ffffff;
  box-shadow: inset 0 0 13px 3px #ffffff;
}

/* Layout related stylesheets* */
/* line 1, ../sass/layout/_header.scss */
.header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  z-index: 100;
}
/* line 3, ../sass/helpers/_mixins.scss */
.header .container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 10, ../sass/layout/_header.scss */
.header-logo {
  float: left;
  width: 100px;
  text-align: center;
}
/* line 14, ../sass/layout/_header.scss */
.header-logo img {
  height: 83px;
  width: 83px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 20, ../sass/layout/_header.scss */
.header-inner {
  float: right;
  width: 806px;
}
/* line 24, ../sass/layout/_header.scss */
.header-nav {
  height: 16px;
  visibility: visible;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 28, ../sass/layout/_header.scss */
.header-nav li {
  display: inline-block;
  margin-left: 33px;
}
/* line 31, ../sass/layout/_header.scss */
.header-nav li a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 38, ../sass/layout/_header.scss */
.header-nav li:first-child {
  margin-left: 0;
}
/* line 42, ../sass/layout/_header.scss */
.header-nav li.active a {
  color: #00ff66;
}
/* line 48, ../sass/layout/_header.scss */
.header-visible {
  width: 100%;
  padding-top: 20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 3, ../sass/helpers/_mixins.scss */
.header-visible:after {
  content: "";
  display: table;
  clear: both;
}
/* line 53, ../sass/layout/_header.scss */
.header-visible .page-nav {
  float: left;
  width: 400px;
  padding-top: 2px;
}
/* line 57, ../sass/layout/_header.scss */
.header-visible .page-nav li {
  width: 115px;
  float: left;
  margin: 2px 0;
}
/* line 61, ../sass/layout/_header.scss */
.header-visible .page-nav li:nth-child(3n+1) {
  margin-right: 40px;
}
/* line 64, ../sass/layout/_header.scss */
.header-visible .page-nav li a {
  font-size: 15px;
  font-weight: 300;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 72, ../sass/layout/_header.scss */
.header-callback {
  float: right;
}
/* line 74, ../sass/layout/_header.scss */
.header-callback .phone {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
/* line 78, ../sass/layout/_header.scss */
.header-callback .phone h5 {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 5px;
}
/* line 83, ../sass/layout/_header.scss */
.header-callback .phone a {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 91, ../sass/layout/_header.scss */
.header-callback .phone a:hover {
  border-color: #ffffff;
}
/* line 96, ../sass/layout/_header.scss */
.header-callback .btn-green {
  border-bottom: none;
  font-size: 13px;
  vertical-align: middle;
  padding: 7px 20px;
  line-height: 1.3;
  margin-left: 5px;
}
/* line 104, ../sass/layout/_header.scss */
.header-callback .btn-transparent {
  vertical-align: middle;
  margin-left: 5px;
}

/* line 111, ../sass/layout/_header.scss */
.header.sticky .header-logo {
  margin-top: 3px;
}
/* line 113, ../sass/layout/_header.scss */
.header.sticky .header-logo img {
  width: 40px;
  height: 40px;
}
/* line 118, ../sass/layout/_header.scss */
.header.sticky .header-nav {
  height: 0;
  visibility: hidden;
  opacity: 0;
}
/* line 123, ../sass/layout/_header.scss */
.header.sticky .header-visible {
  padding-top: 0;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  padding: 10px 0;
  background: #000000;
}
/* line 3, ../sass/helpers/_mixins.scss */
.footer-top:after {
  content: "";
  display: table;
  clear: both;
}
/* line 6, ../sass/layout/_footer.scss */
.footer-top .footer-logo {
  float: left;
}
/* line 8, ../sass/layout/_footer.scss */
.footer-top .footer-logo img {
  height: 71px;
  width: 71px;
}
/* line 13, ../sass/layout/_footer.scss */
.footer-top .footer-nav {
  float: right;
  padding: 15px 0 15px 10px;
  border-bottom: 1px solid #1b1b1b;
}
/* line 17, ../sass/layout/_footer.scss */
.footer-top .footer-nav li {
  display: inline-block;
  margin-left: 20px;
}
/* line 20, ../sass/layout/_footer.scss */
.footer-top .footer-nav li a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 27, ../sass/layout/_footer.scss */
.footer-top .footer-nav li.active a {
  color: #00ff66;
}
/* line 33, ../sass/layout/_footer.scss */
.footer-bottom {
  padding-top: 15px;
}
/* line 35, ../sass/layout/_footer.scss */
.footer-bottom p {
  font-size: 14px;
  font-weight: 300;
  color: #7a7a7a;
  line-height: 1.2;
}
/* line 41, ../sass/layout/_footer.scss */
.footer-bottom p.copyright {
  float: right;
  color: #4b4b4b;
  position: relative;
  text-transform: uppercase;
  margin-top: 15px;
}
/* line 47, ../sass/layout/_footer.scss */
.footer-bottom p.copyright span {
  font-weight: 600;
  position: absolute;
  top: -17px;
  left: -50px;
}

/* Pages */
/* line 1, ../sass/pages/_index.scss */
.main-travel {
  padding: 35px 0 115px;
  background: url(../img/bg/main_bg.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}
/* line 6, ../sass/pages/_index.scss */
.main-travel .logo-holder {
  text-align: center;
}
/* line 8, ../sass/pages/_index.scss */
.main-travel .logo-holder .logo {
  display: inline-block;
}
/* line 12, ../sass/pages/_index.scss */
.main-travel h1 {
  margin: 15px 0 55px;
}
/* line 15, ../sass/pages/_index.scss */
.main-travel .travels {
  padding: 0 10px;
}
/* line 3, ../sass/helpers/_mixins.scss */
.main-travel .travels:after {
  content: "";
  display: table;
  clear: both;
}
/* line 18, ../sass/pages/_index.scss */
.main-travel .travels-item {
  width: 295px;
  float: left;
  margin-right: 27px;
  margin-top: 30px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 24, ../sass/pages/_index.scss */
.main-travel .travels-item:nth-child(3n+3) {
  margin-right: 0;
}
/* line 27, ../sass/pages/_index.scss */
.main-travel .travels-item-info {
  padding: 15px;
  background: #ffffff;
  text-align: center;
  min-height: 217px;
}
/* line 32, ../sass/pages/_index.scss */
.main-travel .travels-item-info h5 {
  padding: 0 10px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
/* line 36, ../sass/pages/_index.scss */
.main-travel .travels-item-info h5 span {
  color: #23c358;
}
/* line 40, ../sass/pages/_index.scss */
.main-travel .travels-item-info p.descrip {
  font-size: 14px;
  color: #5b5a5a;
  margin-bottom: 20px;
}
/* line 45, ../sass/pages/_index.scss */
.main-travel .travels-item-info p.days {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #919191;
  margin-bottom: 20px;
}
/* line 52, ../sass/pages/_index.scss */
.main-travel .travels-item-info p.summ {
  font-size: 19px;
  font-weight: 300;
  color: #919191;
}
/* line 56, ../sass/pages/_index.scss */
.main-travel .travels-item-info p.summ span {
  font-size: 31px;
  font-weight: 600;
  color: #00ff66;
  margin-left: 10px;
  margin-right: 5px;
}
/* line 65, ../sass/pages/_index.scss */
.main-travel .travels-item .img-holder {
  width: 295px;
  height: 224px;
  display: block;
  position: relative;
}
/* line 70, ../sass/pages/_index.scss */
.main-travel .travels-item .img-holder img {
  width: 100%;
  height: 100%;
}
/* line 74, ../sass/pages/_index.scss */
.main-travel .travels-item .img-holder .btn-holder {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 83, ../sass/pages/_index.scss */
.main-travel .travels-item .img-holder .location {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 89, ../sass/pages/_index.scss */
.main-travel .travels-item .img-holder .location span {
  border-radius: 20px;
  font-size: 17px;
  font-weight: 300;
  padding: 2px 8px;
  letter-spacing: 1px;
}
/* line 97, ../sass/pages/_index.scss */
.main-travel .travels-item .img-holder .location.orange span {
  background: #f7c570;
  color: #8c5d0d;
}
/* line 103, ../sass/pages/_index.scss */
.main-travel .travels-item .img-holder .location.blue span {
  background: #9ab1d7;
  color: #235dad;
}
/* line 109, ../sass/pages/_index.scss */
.main-travel .travels-item .img-holder .location.green span {
  background: #7cad04;
  color: #285706;
}
/* line 116, ../sass/pages/_index.scss */
.main-travel .travels-item:hover {
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 1px 10px #ffffff;
}
/* line 122, ../sass/pages/_index.scss */
.main-travel .travels-item:hover .img-holder .btn-holder {
  opacity: 1;
}

/* line 1, ../sass/pages/travel-sections/_head.scss */
.travel-head {
  display: block;
  background-color: none;
  background-image: url(../img/bg/head_bg.jpg);
  background-position: center;
  background-attachment: none;
}
/* line 7, ../sass/pages/travel-sections/_head.scss */
.travel-head .container {
  height: 100%;
  position: relative;
}
/* line 11, ../sass/pages/travel-sections/_head.scss */
.travel-head-centred {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 0;
  text-align: center;
}
/* line 17, ../sass/pages/travel-sections/_head.scss */
.travel-head-centred-inner {
  width: 560px;
  margin: auto;
}
/* line 21, ../sass/pages/travel-sections/_head.scss */
.travel-head-centred h1 {
  font-size: 42px;
  color: #ffffff;
  letter-spacing: 7px;
  margin-bottom: 45px;
}
/* line 27, ../sass/pages/travel-sections/_head.scss */
.travel-head-centred p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 45px;
}
/* line 35, ../sass/pages/travel-sections/_head.scss */
.travel-head-scrollit {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
  text-align: center;
}
/* line 41, ../sass/pages/travel-sections/_head.scss */
.travel-head-scrollit p {
  font-size: 13px;
  color: #ffffff;
  margin-top: 10px;
}
/* line 46, ../sass/pages/travel-sections/_head.scss */
.travel-head-scrollit img {
  position: relative;
  -webkit-animation-name: mymove;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: .6s;
  -webkit-animation-delay: 3s;
  animation-name: mymove;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: .6s;
  animation-delay: 3s;
}

@-webkit-keyframes mymove {
  from {
    top: 0;
  }
  to {
    top: -10px;
  }
}
@keyframes mymove {
  from {
    top: 0;
  }
  to {
    top: -10px;
  }
}
/* line 1, ../sass/pages/travel-sections/_waitfor.scss */
.travel-waitfor {
  display: block;
  background-color: #ffffff;
  background-image: url();
  background-position: center;
  background-attachment: none;
  padding: 40px 0 60px;
}
/* line 8, ../sass/pages/travel-sections/_waitfor.scss */
.travel-waitfor .title {
  margin-bottom: 20px;
}
/* line 11, ../sass/pages/travel-sections/_waitfor.scss */
.travel-waitfor-inner {
  text-align: center;
  width: 730px;
  margin: 0 auto 50px;
}
/* line 15, ../sass/pages/travel-sections/_waitfor.scss */
.travel-waitfor-inner p {
  font-size: 17px;
  font-weight: 300;
  color: #121212;
}
/* line 19, ../sass/pages/travel-sections/_waitfor.scss */
.travel-waitfor-inner p span {
  font-weight: 500;
  color: #17cb5f;
}
/* line 24, ../sass/pages/travel-sections/_waitfor.scss */
.travel-waitfor-inner h4 {
  margin: 50px 0 25px;
}
/* line 28, ../sass/pages/travel-sections/_waitfor.scss */
.travel-waitfor-advert {
  background: #ededed;
  text-align: left;
  padding: 10px 20px;
  width: 675px;
  margin: auto;
}
/* line 3, ../sass/helpers/_mixins.scss */
.travel-waitfor-advert:after {
  content: "";
  display: table;
  clear: both;
}
/* line 35, ../sass/pages/travel-sections/_waitfor.scss */
.travel-waitfor-advert img {
  float: left;
}
/* line 38, ../sass/pages/travel-sections/_waitfor.scss */
.travel-waitfor-advert h4 {
  padding-left: 155px;
  text-align: left;
  color: #ff0101;
  margin-bottom: 20px;
  margin-top: 5px;
}
/* line 45, ../sass/pages/travel-sections/_waitfor.scss */
.travel-waitfor-advert p {
  padding-left: 155px;
  font-size: 17px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.2;
  color: #ed7070;
}

/* line 1, ../sass/pages/travel-sections/_result.scss */
.travel-result {
  display: block;
  background-color: none;
  background-image: url(../img/bg/result_bg.jpg);
  background-position: center;
  background-attachment: none;
  padding: 35px 0 60px;
}
/* line 8, ../sass/pages/travel-sections/_result.scss */
.travel-result .title {
  margin-bottom: 55px;
}
/* line 11, ../sass/pages/travel-sections/_result.scss */
.travel-result-inner {
  width: 780px;
  margin: 0 auto 50px;
  text-align: center;
}
/* line 15, ../sass/pages/travel-sections/_result.scss */
.travel-result-inner p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2;
}
/* line 21, ../sass/pages/travel-sections/_result.scss */
.travel-result-advert {
  width: 730px;
  margin: auto;
  text-align: center;
  border: 5px solid #17cb5f;
  padding: 25px 30px;
}
/* line 27, ../sass/pages/travel-sections/_result.scss */
.travel-result-advert p {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 1px;
  line-height: 1.1;
}

/* line 1, ../sass/pages/travel-sections/_firstinvite.scss */
.travel-firstinvite {
  display: block;
  background-color: none;
  background-image: url(../img/bg/firstinvite_bg.jpg);
  background-position: center;
  background-attachment: none;
}
/* line 7, ../sass/pages/travel-sections/_firstinvite.scss */
.travel-firstinvite .container {
  position: relative;
  padding: 25px 0 20px;
}
/* line 10, ../sass/pages/travel-sections/_firstinvite.scss */
.travel-firstinvite .container:before {
  content: '';
  background: url(../img/monk.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -5px;
  left: -80px;
  z-index: 5;
}
/* line 22, ../sass/pages/travel-sections/_firstinvite.scss */
.travel-firstinvite .title {
  color: #ffffff;
  margin-bottom: 45px;
  position: relative;
  z-index: 15;
}
/* line 28, ../sass/pages/travel-sections/_firstinvite.scss */
.travel-firstinvite-inner {
  width: 560px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 15;
}
/* line 34, ../sass/pages/travel-sections/_firstinvite.scss */
.travel-firstinvite-inner p {
  font-size: 17px;
  color: #4b4b4b;
  line-height: 1.2;
  margin-bottom: 35px;
}

/* line 1, ../sass/pages/travel-sections/_secondinvite.scss */
.travel-secondinvite {
  display: block;
  background-color: none;
  background-image: url(../img/bg/secondinvite_bg.jpg);
  background-position: center;
  background-attachment: none;
}
/* line 7, ../sass/pages/travel-sections/_secondinvite.scss */
.travel-secondinvite .container {
  position: relative;
  padding: 55px 0 15px;
}
/* line 10, ../sass/pages/travel-sections/_secondinvite.scss */
.travel-secondinvite .container:before {
  content: '';
  background: url(../img/map.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: -80px;
  z-index: 5;
}
/* line 22, ../sass/pages/travel-sections/_secondinvite.scss */
.travel-secondinvite .title {
  color: #ffffff;
  margin-bottom: 45px;
  position: relative;
  z-index: 15;
}
/* line 27, ../sass/pages/travel-sections/_secondinvite.scss */
.travel-secondinvite .title span {
  color: #ffffff;
}
/* line 31, ../sass/pages/travel-sections/_secondinvite.scss */
.travel-secondinvite-inner {
  width: 560px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 15;
}
/* line 37, ../sass/pages/travel-sections/_secondinvite.scss */
.travel-secondinvite-inner p {
  font-size: 17px;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 35px;
}
