.footer {
    padding: 10px 0;
    background: #222c39;
    &-top {
        @include clearfix;
        .footer-logo {
            float: left;
        }
        .footer-nav {
            float: right;
            padding: 15px 0 15px 10px;
            border-bottom: 1px solid #1b1b1b;
            li {
                display: inline-block;
                margin-left: 20px;
                a {
                    font-size: 13px;
                    font-weight: $bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    @include transition (all, .4s, linear);
                }
                &.active a, &:hover a {
                    color: #7ce1c6;
                }
            }
        }
    }
    &-bottom {
        padding-top: 15px;
        p {
            font-size: 14px;
            font-weight: $light;
            color: #7a7a7a;
            line-height: 1.2;
        }
        p.copyright {
            float: right;
            color: #4b4b4b;
            position: relative;
            text-transform: uppercase;
            margin-top: 15px;
            span {
                font-weight: $bold;
                position: absolute;
                top: -17px;
                left: -50px;
            }
        }
    }
}