* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    background-repeat: no-repeat;
}
body {
    font-family: $main-font;
    color: #141d2a;
}
h1,h2,h3,h4,h5 {
    font-weight: $bold;
    text-transform: uppercase;
    text-align: center;
}
h1 {
    font-size: 33px;
    color: $black;
}
h2.title {
    font-size: 28px;
    color: #040000;
    letter-spacing: 5px;
    span {
        display: block;
        font-size: 17px;
        font-weight: $regular;
        letter-spacing: 3px;
        color: #838383;
        margin-bottom: 8px;
    }
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
a {
    color: $white;
    text-decoration: none;
    &:hover {
        color: $green-lighter;
    }
}
span.grand {
    color: #58bfd0;
    font-weight: $medium;
}
.section {
    min-width: $container-width;
    overflow: hidden;
}
.container {
    width: $container-width;
    margin: auto;
}
input[type="text"] {
    width: 100%;
    padding: 11px 10px;
    border: 1px solid #cccccc;
    font-size: 16px;
    color: $black;
    outline: none;
    &:hover {
        border-color: #979797;
    }
    &:focus {
        @include box-shadow (0 0 5px 1px $green-lighter);
        border-color: #979797;
    }
}

.btn-more {
    display: inline-block;
    border: 3px solid $white;
    padding: 10px;
    font-size: 17px;
    font-weight: $bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: $white;
}


.btn-green {
    display: inline-block;
    background: #e65332;
    background: -moz-linear-gradient(top, #88f7bb 0%, #74daca 100%);
    background: -webkit-linear-gradient(top, #88f7bb 0%, #74daca 100%);
    background: -o-linear-gradient(top, #88f7bb 0%, #74daca 100%);
    background: -ms-linear-gradient(top, #88f7bb 0%, #74daca 100%);
    background: linear-gradient(top, #88f7bb 0%, #74daca 100%);
    font-size: 16px;
    font-weight: $bold;
    color: #006b2b;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 35px;
    border-bottom: 5px solid #1d8b8b;
    letter-spacing: 1px;
    @include transition (all, 0.4s, linear);
    &:hover {
        color: #006b2b;
        @include box-shadow (inset 0 0 10px 2px $white);
    }
    &:active {
        background: -moz-linear-gradient(top, #74daca 0%, #88f7bb 100%);
        background: -webkit-linear-gradient(top, #74daca 0%, #88f7bb 100%);
        background: -o-linear-gradient(top, #74daca 0%, #88f7bb 100%);
        background: -ms-linear-gradient(top, #74daca 0%, #88f7bb 100%);
        background: linear-gradient(top, #74daca 0%, #88f7bb 100%);
    }
}
.btn-green.rounded {
    @include border-radius (20px);
    font-size: 18px;
}
