.main-travel {
    padding: 150px 0 115px;
    background: url(../img/bg/main_bg.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    .logo-holder {
        text-align: center;
        .logo {
            display: inline-block;
        }
    }
    h1 {
        margin: 15px 0 55px;
    }
    .travels-text {
        text-align: center;
        margin-top: 50px;
        h5 {
            font-size: 17px;
            margin-bottom: 25px;
        }
        p {
            font-size: 17px;
            margin-bottom: 15px;
        }
    }
    .travels {
        @include clearfix;
        padding: 0 10px;
        &-item {
            background: $white;
            width: 295px;
            float: left;
            margin-right: 27px;
            margin-top: 30px;
            @include transition (all, 0.3s, linear);
            &:nth-child(3n+3) {
                margin-right: 0;
            }
            &-name {
                padding: 10px 15px;
                h5 {
                    padding: 0 10px;
                    letter-spacing: 1px;
                    line-height: 1.2;
                    span.grand {
                        font-weight: $bold;
                    }
                }
            }
            &-info {
                padding: 25px 15px 15px;
                text-align: center;
                .info-bottom {
                    @include clearfix;
                }
                p.descrip {
                    font-size: 14px;
                    color: #5b5a5a;
                    margin-bottom: 20px;
                }
                p.days {
                    font-size: 14px;
                    font-weight: $light;
                    font-style: italic;
                    color: #919191;
                    float: left;
                    padding-top: 15px;
                }
                p.summ {
                    font-size: 19px;
                    color: #58bfd0;
                    text-transform: uppercase;
                    float: right;
                    span {
                        font-size: 31px;
                        font-weight: $bold;
                        color: $black;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
            .img-holder {
                width: 295px;
                height: 224px;
                display: block;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                .btn-holder {
                    position: absolute;
                    top: 95px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    @include transition (all, 0.3s, linear);
                }
                .location {
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    span {
                        border-radius: 20px;
                        font-size: 17px;
                        font-weight: $light;
                        padding: 2px 8px;
                        letter-spacing: 1px;
                        color: $white;
                    }
                    &.orange {
                        span {
                            background: #f7c570;
                        }
                    }
                    &.blue {
                        span {
                            background: #9ab1d7;
                        }
                    }
                    &.green {
                        span {
                            background: #7cad04;
                        }
                    }
                }
            }
            &:hover {
                margin-top: 20px;
                margin-bottom: 10px;
                position: relative;
                box-shadow: 0 1px 10px $white;
                .img-holder {
                    .btn-holder {
                        opacity: 1;
                    }
                }
            }
        }
    }
}















