$container-width: 960px;

$main-font: 'Ubuntu', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

$black: #000000;
$white: #ffffff;
$red: #ff0101;
$green-darken: #23c358;
$green-lighter: #00ff66;

/* TRAVEL SECTIONS */

/* Video */
$head-display: block; /* block, none */
$head-background-color: none;
$head-background-image: url();
$head-background-position: center;
$head-background-attachment: none; /* none, fixed, scroll*/
.travel-head {
    @include background-size (cover);
}

/* Waitfor */
$waitfor-display: block; /* block, none */
$waitfor-background-color: $white;
$waitfor-background-image: url();
$waitfor-background-position: center;
$waitfor-background-attachment: none; /* none, fixed, scroll*/

/* Activity */
$activity-display: block; /* block, none */
$activity-background-color: none;
$activity-background-image: url(../img/bg/activity_bg.jpg);
$activity-background-position: center;
$activity-background-attachment: fixed; /* none, fixed, scroll*/
.travel-activity {
    @include background-size (cover);
}

/* Result */
$result-display: block; /* block, none */
$result-background-color: none;
$result-background-image: url(../img/bg/result_bg.jpg);
$result-background-position: center;
$result-background-attachment: none; /* none, fixed, scroll*/
.travel-result {
    @include background-size (cover);
}
$result-border-color: #17cb5f;

/* Gallery */
$gallery-display: block; /* block, none */
$gallery-background-color: $white;
$gallery-background-image: url();
$gallery-background-position: center;
$gallery-background-attachment: none; /* none, fixed, scroll*/

/* Firstinvite */
$firstinvite-display: block; /* block, none */
$firstinvite-background-color: none;
$firstinvite-background-image: url(../img/bg/firstinvite_bg.jpg);
$firstinvite-background-position: center;
$firstinvite-background-attachment: none; /* none, fixed, scroll*/
.travel-firstinvite {
    @include background-size (cover);
}
$firstinvite-left-image: url(../img/monk.png);

/* Route */
$route-display: block; /* block, none */
$route-background-color: $white;
$route-background-image: url();
$route-background-position: center;
$route-background-attachment: none; /* none, fixed, scroll*/

/* Secondinvite */
$secondinvite-display: block; /* block, none */
$secondinvite-background-color: none;
$secondinvite-background-image: url(../img/bg/secondinvite_bg.jpg);
$secondinvite-background-position: center;
$secondinvite-background-attachment: none; /* none, fixed, scroll*/
.travel-secondinvite {
    @include background-size (cover);
}
$secondinvite-left-image: url(../img/map.png);

/* Numbers */
$numbers-display: block; /* block, none */
$numbers-background-color: #f1f1f1;
$numbers-background-image: url();
$numbers-background-position: center;
$numbers-background-attachment: none; /* none, fixed, scroll*/

/* Map */
$map-display: block; /* block, none */
$map-background-color: none;
$map-background-image: url(../img/bg/map_bg.png);
$map-background-repeat: repeat;
$map-background-position: center;
$map-background-attachment: none; /* none, fixed, scroll*/

/* Author */
$author-display: block; /* block, none */
$author-background-color: none;
$author-background-image: url(../img/bg/author_bg.jpg);
$author-background-position: center;
$author-background-attachment: none; /* none, fixed, scroll*/
.travel-author {
    @include background-size (cover);
}
$author-inner-bg: #ffffff;
$author-inner-text: #4b4b4b;
$author-inner-name: #000000;

/* Reviews */
$reviews-display: block; /* block, none */
$reviews-background-color: $white;
$reviews-background-image: url();
$reviews-background-position: center;
$reviews-background-attachment: none; /* none, fixed, scroll*/

/* Detaild */
$details-display: block; /* block, none */
$details-background-color: $white;
$details-background-image: url();
$details-background-position: center;
$details-background-attachment: none; /* none, fixed, scroll*/

/* Bottom */
$bottom-display: block; /* block, none */
$bottom-background-color: none;
$bottom-background-image: url(../img/bg/bottom_bg.jpg);
$bottom-background-position: center;
$bottom-background-attachment: none; /* none, fixed, scroll*/
.travel-bottom {
    @include background-size (cover);
}

/* Choice */
$choice-display: block; /* block, none */

/* Form */
$form-display: block; /* block, none */

/* Questions */
$questions-display: block; /* block, none */
$questions-background-color: #f1f1f1;
$questions-background-image: url();
$questions-background-position: center;
$questions-background-attachment: none; /* none, fixed, scroll*/


