$container-width: 960px;

$main-font: 'Ubuntu', sans-serif;
$main-font-size: 16px;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

$black: #000000;
$white: #ffffff;
$green-darken: #23c358;
$green-lighter: #00ff66;



